* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

:root {
    --bg-dark: #0a0a0c;
    --sidebar-bg: rgba(18, 18, 20, 0.9);
    --accent-orange: #ff8906;
    --accent-yellow: #fde047;
    --spooky-purple: #7f5af0;
    --blood-red: #cc0000;
    --text-white: #f8f8f2;
    --ghost-gray: #a7a9be;
}


.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-dark);
    color: var(--text-white);
    overflow: hidden;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 10;
}


.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/halloween-pumpkins-night-scene-photo.webp");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.flicker {
    background-color: transparent;
    font-family: "Creepster", cursive;
    color: var(--bg-dark);
    font-size: 3rem;
    position: relative;
    top: -100px;   /* negative moves it UP */
    animation: flickerAnimation 3s infinite alternate ease-in-out;
}


::-webkit-scrollbar {
    width: 15px;               
    height: 10px;             
}

::-webkit-scrollbar-track {
    background: var(--bg-dark); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--spooky-purple); 
    border-radius: 5px;        
    border: 2px solid var(--bg-dark); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-orange); 
}