:root {
    --bg-dark: #0a0a0c;
    --sidebar-bg: rgba(18, 18, 20, 0.9);
    --accent-orange: #ff8906;
    --accent-yellow: #fde047;
    --spooky-purple: #7f5af0;
    --blood-red: #cc0000;
    --text-white: #f8f8f2;
    --ghost-gray: #a7a9be;
}


.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark);
    color: var(--text-white);
    overflow: hidden;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 10;
}


.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
}


