@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@400;700&display=swap');

:root {
    --bg-dark: #0a0a0c;
    --sidebar-bg: rgba(18, 18, 20, 0.9);
    --accent-orange: #ff8906;
    --spooky-purple: #7f5af0;
    --blood-red: #cc0000;
    --text-white: #f8f8f2;
}

.trash-container {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.trash-header {
    padding: 60px 40px;
    border-bottom: 1px solid var(--spooky-purple);
    /* background: rgba(0, 0, 0, 0.4);  */
    background-image: url("../../../assets/graveyard.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-family: 'Creepster', cursive;
    font-size: 5rem;
    color: var(--accent-orange);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
}


.tree-item-row {
    height: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px;
    margin: 4px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    /*overflow: hidden;*/
    z-index: 1;
    
}
.tree-item-row:hover {
    background-color: rgba(127, 90, 240, 0.1);
}
.tree-item-title {
    white-space: nowrap;    
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    margin-right: 10px;     
    background-color: transparent !important;
    position: relative; 
    z-index: 2;

}


.item-actions {
    flex: 2;
    position: static;
    right: 0;              
    top: 0;
    bottom: 0;            
    
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 10px;  
    padding-left: 10px;    
    
    background: transparent;
    
    opacity: 0;            
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.tree-item-row:hover .item-actions {
    opacity: 1;
}

.item-actions > button {
    color: var(--accent-orange);
    width: 31px;
    height: 24px;
}

.folder-content {
    margin-left: 20px;
    border-left: 1px dashed var(--spooky-purple);
}